.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  background-color: lightblue;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10%;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: auto;
  right: auto;
  top: 2%;
}
article {
  text-align: center;
  width: 500px;
  margin-top: 35px;
}
.counter {
  position: absolute;
  left: 2%;
  top: 1%;
}
